
.main {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 30px;
}

.chosenCategory {
    font-size: 35px;
    margin: 10px 0 20px 32px;
}

.container { 
    display: inline-block;
    margin-left: 50px;
}

.back {
    padding: 7px 10px; 
    margin-top: 40px;
    margin-left: 25px;
    background-color:#caa58d88;
    border-radius: 5px;
    font-family: "Playfair Display", Serif;
    font-size: 18px;
    color:  #422202;
    text-decoration: none;
    border: none;
    display: inline-block;
}


@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        /* padding-left: 50px; */
    }

    .main {
        width: 100%;
        padding: 0;
        display: grid;
        padding: 0 10px 10px 10px;
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    }
}