.container {
    width: 300px;
    text-align: justify;  
    background: #caa58d3e;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 2px 2px #caa58d3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline {
    font-size: 25px;
    text-align: center;
}
 
.image {
    width: 100%; 
}

.small {
    display: none;
}

.button {
    display: inline-block;
    padding: 7px 10px; 
    background-color:#caa58d;
    border-radius: 10px;
    font-family: "Playfair Display", Serif;
    font-size: 20px;
    color:  #422202; 
    text-decoration: none;
    margin-top: 30px;
}


@media screen and (max-width: 1200px) {
  
    .container {
        width: 100%;
    }

    .headline {
        font-size: 20px;
    }
     
    .button {
        width: 70%;
        height: 10%;
        font-size: 15px;
        padding: 2px 2px 2px 2px ;
        text-align: center;
    }
     
    .large {
        display: none;
    }
    
    .small {
        display: block;
    }

    .image {
        width: 80%;
        margin: 0 auto; 
    }

  }