
.main {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 0 30px;
    justify-content: center;
} 

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.title {
    font-size: 35px;
    text-align: center;
    margin: 30px 0 35px 0;
}


@media screen and (max-width: 1200px) {
  
    .container {
        width: 100%;
    }

    .title {
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 25px;
    }

    .main {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        gap: 30px; 
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit,minmax(150px, 300px));
    } 

  }