
.main {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 0 30px;
} 

.title {
    font-size: 35px;
    text-align: center;
    margin: 30px 0 35px 0;
}