
.image{
    width: 100%;
}


.imageMedia {
    display: none;
}

.picture{
    position: absolute;
    top: 150px;
    left: 240px;
    color: rgb(253, 241, 221);
    font-size: 20px;
}

.paragraph1 {
    font-weight: bold;
}

.paragraph2 {
    margin-left: 100px;
    font-weight: bold;
}

.paragraph3 {
    margin-left: 200px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
     .main {
        max-width: 100%;
     }

     .text{
        width: 300px;
        position: absolute;
        top: 0;
     }


    .image {
        display: none;
    }

    .imageMedia {
        width: 100%;
        display: block;
    }

    .picture{
        display: none;
    }
    
}