 
 .container {
    width: 100%;
    padding-right: 40px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
 }

 .image {
    width: 35%;
 }

 .headline {
   margin-top: 20px;
   margin-bottom: 5px;
 }

 .button {
   padding: 7px 10px; 
   margin-top: 40px;
   background-color:#caa58d88;
   border-radius: 5px;
   font-family: "Playfair Display", Serif;
   font-size: 18px;
   color:  #422202;
   text-decoration: none;
   border: none;
   display: inline-block;
 }
 
 .text {
    margin-left: 20px;
    text-align: justify; 
    font-size: 20px;
 } 


 .main {
   margin-left: 50px;
 }


 @media screen and (max-width: 1200px) {
  .main{
    margin: 0;
    padding: 0 10px 15px 10px;
    width: 100%;
  }

  .container {
    width: 100%;
    display: inline-block;
  }

  .text {
    font-size: 15px;
    margin: 0 auto;
 }
 
 .button {
  padding: 7px 6px; 
  margin-top: 12px;
  font-size: 15px;
}



 }