
.container{
    height: 400px;
    display: flex;
    gap: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.h {
    font-size: 25px;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.button {
    padding: 7px 10px; 
    background-color:#caa58d;
    border-radius: 10px;
    font-family: "Playfair Display", Serif;
    font-size: 15px;
    color:  #422202;
    text-decoration: none;
    border: none;
    display: inline-block;
}  

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
    }
}
